// Variables

$primary: hsl(158, 69%, 56%);
$ozadje1:hsl(35, 88%, 78%);
$ozadje2:hsl(60, 75%, 97%);

$rjava:hsl(24, 34%, 28%);
$temno_rjava:hsl(25, 34%, 21%);
$brown_white:hsl(25, 13%, 57%);

$green_blue:hsl(175, 60%, 40%);
$light_blue:hsl(197, 17%, 58%);
$deep_blue:hsl(196, 38%, 31%);
$deeper_blue:hsl(196, 38%, 23%);






