// AUTORJA: Vid in Žan Pajek. Vse pravice pridržane.
@import "variables";
@import "mixins";
@import "fonts";
@import "slider";

body {
    width: 100%;
    height: 100%;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: white;
    background-color: $ozadje1;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
}


p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    @media(min-width:768px) {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: $primary;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary,20%);
    }
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(white, 0.3);
    text-transform: none;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: black;
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 1em;
        color: white;
        &:focus,
        &:active {
            outline: none;
        }
    }
    .navbar-brand {
        font-weight: 500;
        &:focus {
            outline: none;
        }
    }
    a {
        color: white;

    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                font-size: 1.3em;
                font-weight: normal;
                
                &:hover {
                    color: rgba(white, 0.8);
                    outline: none;
                    background-color: transparent;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
                i{
                    padding-right: 5px;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: rgba(white, 0.3);
                    &:hover {
                        color: white;
                    }
                }

            }


        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        &.top-nav-collapse {
            padding: 0;
            background: rgba(10, 5, 5, 0.7);
            border-bottom: 1px solid rgba(white, 0.3);
        }
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: white;
    background: url(../img/Home/Mavrica-17.jpg) no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .intro-body {
        display: table-cell;
        vertical-align: middle;
        .brand-heading {
            font-size: 2em;
        }
        .intro-text {
            font-size: 18px;

        }
        img{
            width:30%;
            margin-bottom: 1.5em;
            margin-top: 100px;
            
        }
    }
    @media(min-width:768px) {
        height: 100%;
        padding: 0;
        .intro-body {
            .brand-heading {
                font-size: 4em;
            }
            .intro-text {
                font-size: 26px;
            }
        }
    }
}

.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    padding-right:5px;
    border: 2px solid white;
    border-radius: 100% !important;
    font-size: 30px;
    color: white;
    background: transparent;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    &:hover,
    &:focus {
        outline: none;
        color: white;
        background: rgba(white, 0.1);
    }
    i.animated {
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 1s;
        -moz-transition-property: -moz-transform;
        -moz-transition-duration: 1s;
    }
    &:hover {
        i.animated {
            -webkit-animation-name: pulse;
            -moz-animation-name: pulse;
            -webkit-animation-duration: 1.5s;
            -moz-animation-duration: 1.5s;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            -moz-animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    from {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top:10px;
    color:$temno_rjava;
    padding-bottom:20px;

    @media(max-width:768px){
        padding-bottom:40px;
    }
    p{
        color: $rjava;
        line-height: 1.4;
        text-align: center;
         font-weight: bold;
        @media(max-width:768px){
            max-width: 600px;
            margin:auto;

        }
        
    }
    img{
        width: 50%;
        margin: 0;
        padding:0;
    }

    @media(max-width:768px){
        img{
            width: 30%;
            margin-bottom: 0.2em;
        }
       
    }

    .popravilo-text_h2{
        padding-bottom: 32.22px;
        @media(max-width:768px){
            padding-bottom: 0;
            
        }

    }
    
   
}

.akcija{
    width: 100%;
    background-color: #315C6C;
    padding-top: 2rem;
    padding-bottom:5rem;
    color:$temno_rjava;
    p{
        font-size: 2.5em;
        font-family:"Oswald", "Montserrat", sans-serif,Arial;
        text-align: center;
    }
     object,img{
        max-width: 40em;
    }
    @media(min-width:1200px){
        object,img{
            max-width: 50em;
            

        }
    }
    @media(max-width:600px){
        p{
            font-size: 1.5em;
        }
    }
   

}


.o_nas_section{
    padding-top: 3em;
    width: 100%;
    background-color:$light_blue;
    color:$temno_rjava;
    p{
    text-align: justify;
    }
    ::-moz-selection { /* Code for Firefox */
                color: $brown_white; 
                background: $light_blue;
            }

            ::selection {
                color: $temno_rjava; 
                background: $light_blue;
            }
}


.storitve-section {
    width: 100%;
    background-color:$ozadje2;
    padding: 100px 0;
    color: $temno_rjava;
    .storitve{
        margin-bottom: 3em;
    }
    .storitve-text{
       
        ::-moz-selection { /* Code for Firefox */
                color: $temno_rjava; 
                background: $light_blue;
            }

            ::selection {
                color: $temno_rjava; 
                background: $light_blue;
            }
        h3{
            color:$deeper_blue;
        }
        div{
            padding-top:2em;
            padding: 30px;

        }
        p{
            text-align: justify;
            letter-spacing: normal;
            line-height: 1.5em;
            font-weight: normal;
            a{
                color:$deeper_blue;
                &:hover{
                    color: $light_blue;
                }
            }

        }

    }
}



.tehnike-section{
    width :100%;
    padding: 150px 0;
    color: white;
    background: url(../img/Tehnike/jeans/2.jpg) no-repeat center center scroll;
    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(0, 0, 0, 0.0), 
      rgba(1,1,1, 0.0)
    ),
    /* bottom, image */
    url(../img/Tehnike/jeans/2.jpg) no-repeat center center scroll;
    

    fill :rgba(0, 0, 0, 0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    h1{
        font-family:"Oswald","Montserrat",sans-serif,Arial;
        font-size: 4em;
        letter-spacing: 0.2em;
    }
    h3{
        font-family:"Oswald","Montserrat",sans-serif,Arial;
        letter-spacing: 0.2em;

    }
}

.kontakt-section{
    margin:2em 0;
    ::-moz-selection { /* Code for Firefox */
                color: $temno_rjava; 
                background: $light_blue;
            }

            ::selection {
                color: $temno_rjava; 
                background: $light_blue;
            }
    .kontakt-section-adress{
        font-family: "Oswald","Montserrat",sans-serif; 
        font-size: 1.5em;
        text-align: right;
        margin-top: 2.9em;

        }
        a{
            color:$deep_blue;
        }
     @media(max-width:1200px) {
            .kontakt-section-adress{
                display: none;
                
            }
    }
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 50px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Oswald","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 0.2em;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
    margin-bottom: 20px;

}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
    background-color: transparent;
    &:hover,
    &:focus {
        border: 1px solid $primary;
        outline: none;
        color: black;
        background-color: $primary;
    }
}

ul.banner-social-buttons {
    margin-top: 0;
    @media(max-width:1199px) {
        margin-top: 15px;
    }
    @media(max-width:767px) {
        li {
            display: block;
            margin-bottom: 20px;
            padding: 0;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

footer {
    padding:20px 0 0 0;
    
    background:url(../img/Slikopleskarstvo%20logotip%20bel.svg);
    background-repeat:no-repeat; 
    background-position:98%;
    background-size:8%;
    background-color: $deeper_blue;
        @media(min-width:1200px){
            background-size:5%;
        }
    p {
        margin: 0;
        color: $light_blue;
        font-size: 0.80em;
    }
    address,{
        font-family: "Oswald","Montserrat",sans-serif;
        font-size: 1.2em;
        color: $light_blue;

    }
    
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(white, 0.2);
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: rgba(white, 0.2);

}

// Tehnike_styling
.footer-tehnike{
    padding-bottom:0;
}
.tehnika-text{
    a{
        color:$temno_rjava;
    }
    :before{
        background:rgba(255,255,255,0.8);
    }
}

.barve-section {
    width: 100%;
    background-color:black;
    padding: 30px 0;
    color: $temno_rjava;
    background: $light_blue;


    .barve-text{
       
        padding-top: 130px;
        text-align:justify ;
        text-align-last: left;
        
    }

}

